<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login Page</title>
</head>
<body>
    <div class="center l">
        <form action="/" method="post">
            <label for="">ID</label>
            <input type="text" name="name" required><br>
            <label for="">PASSWORD</label>
            <input type="password" name="password" required><br>
            <input type="submit" value="SIGN IN" class="button">
        </form>
    </div>
</body>
</html>